

/* nav-bar*/
nav img{
    max-width: 130px;
}

.nav-left li{
    float: left;
}

.nav-right li{
    float: left;
}

nav li{
    padding: 0 15px;
    list-style: none;
}

nav{
    min-height: 50px;
    line-height: 50px;
}

.collapse-navbar ul li a{
    text-decoration: none;
}

.collapse-navbar ul li a:hover{
    border-bottom: 3px solid rgb(0, 132, 255);
    padding-bottom: 3px;
}
    
/*MAIN*/
main section{
    padding: 40px 0;
}

main> :nth-child(7){
 padding-bottom: 80px;   
}

/*DEPLOY*/
.list-deploy li{
    border-left: 1px solid grey;
    list-style: none;
    padding: 10px 0;
    padding-left: 15px;
    margin-left: 50px;
}

.list-deploy li a:hover{
    text-decoration: none;
    border-left: 3px solid blue;
    padding-left: 3px;
    padding-top:5px;
    padding-bottom: 5px;
}

.deploy img{
    padding: 15px 0;
}

/*HERO*/
.pannel-hero{
    padding: 30px;
    border-radius: 5px;
}

.pannel-hero .form-group> *{
    margin: 10px 0;
}
/*PARTNER*/
.group-img-partner img{
    max-width: 220px;
    margin: 0 10px;
}





/*BACKGROUND AND COLOR*/
.bg-hero{
    background-image: url(bg-banner-home.jpg);
    background-size: contain;
}

.bg-white{
    background-color: white;
}

.bg-lightgrey{
    background-color: #f3f5f9;
}

.bg-blu-gradient{
    background: rgb(36,45,110);
    background: linear-gradient(0deg, rgba(36,45,110,1) 0%, rgba(37,13,214,1) 52%, rgba(38,0,255,1) 100%, rgba(0,88,255,1) 100%);
}

.bg-blue{
    background-color: rgb(0, 132, 255);
}

.bg-darkblue{
    background:#151b5c;  
}

.grey{
    color:rgba(217, 223, 235, 0.7);
}

.white{
    color: white;
}

.dark{
    color:#031b4e;
}

.blue{
    color: rgb(0, 132, 255);
}

.green{
    color: rgb(90, 253, 191);
}

/*TABLE*/
.var-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.var-table td{
    color: white;
    border-bottom: 2px solid white;
    line-height: 40px;
}

.var-table td p{
    margin-bottom: 0;
}

#td-bd-none td{
   border: none;
}

/* CAROSEL*/
.carosel-1{
    padding-top: 30px;
}

.carosel-1 .slide-content img{
    max-width: 500px;
}

.slide-bar li{
    float: left;
    list-style: none;
    margin: 0 3px;
    font-size: 10px;
}
.carosel-1,.carosel-2{
    position: relative;

}
.slide-bar{
    padding-inline-start: 0px;
    Position: absolute;
    Top: 105%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.slide-content .second img{
    max-width: 200px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.second{
    max-width: 350px;
}

.carosel-2 ul{
    padding-top: 70px;
}

.slide-content a{
    text-decoration: none;
}

/*FOOTER*/
footer{
    padding: 40px 0;
}

footer ul li{
    list-style: none;
    line-height: 30px;
}

address{
    line-height: 10px;
}

.logo-footer{
    padding-bottom: 15px;
}

address span{
    font-size: 25px;
    padding top: 15px;
    margin-right: 10px;
}

.btn-help{
    position: fixed;

   }

/*MEDIA QUERI*/
@media screen and (max-width: 994px){
    .collapse-navbar{
        display: none;
    }
}

@media screen and (min-width: 995px){
    .hamburgher-menu{
        display: none;
    }
}

@media screen and (max-width: 620px){
    .glyphicon-chevron-left,.glyphicon-chevron-right{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .list-deploy li{
        margin-left: 0px;}
     .list-deploy{
        padding-inline-start: 5px;}
}

@media screen and (max-width: 991px){
    footer ul{
        padding-inline-start: 5px;
    }
}
/*MEDIA PARTNER*/
@media screen and (min-width: 994px) and (max-width:1201px){
    .group-img-partner img{
        max-width: 120px;
        margin: 0 10px;
    }
}

@media screen and (min-width: 668px) and (max-width:993px){
    .group-img-partner img{
        max-width: 90px;
        margin: 0 5px;
    }
}

@media screen and (min-width: 480px) and (max-width:667px){
    .group-img-partner img{
        max-width: 65px;
        margin: 0px;
    }
}

/* COMMON*/
.mg-b-0{
    margin-bottom: 0;
}

.inline-block{
    display: inline-block;
}

p{
    color: #5b6987;
}

.t-bold{
    font-weight: bold;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/*SHARK*/
.speech-bubble {
	position: fixed;
    bottom: 20px;
    right: 80px;
	background: rgb(0, 132, 255);
	border-radius: .4em;
    width: 200px;
    height: 50px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-left-color:rgb(0, 132, 255);
	border-right: 0;
	border-bottom: 0;
	margin-top: -6.5px;
	margin-right: -13px;
}

.help{
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 40px;
    position: fixed;
    background-image: url(shark.png);
    background-size: contain;
}

.help>*{
    display: none;
}

.help:hover>*{
    display: inline;
}
